path {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

.tick text {
    display: none;
}

.inner-axis-0 text,
.outer-axis-0 text {
    display: block;
}

.tick:hover {
    stroke-width: 3;
}

.tick:hover text {
    display: block;
}